# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

indent_style = space
# 空格数
indent_size = 2
# 设为 true 表示会除去换行行首的任意空白字符，false 反之。
trim_trailing_whitespace = true

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
